certifi==2018.11.29
chardet==3.0.4
Django==2.2.24
django-crispy-forms==1.7.2
django-modelcluster==4.3
django-taggit==0.23.0
django-treebeard==4.3
djangorestframework==3.9.1
idna==2.8
Pillow==8.1.1
PySocks==1.6.8
python-dotenv==0.10.1
pytz==2018.5
requests==2.21.0
requests-oauthlib==1.2.0
textblob==0.15.2
tweepy==3.7.0
urllib3==1.24.1
wagtail==2.11.8
Willow==1.1
